<h1>Suas notas: </h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Título:</th>
      <th scope="col">Ações:</th>
    </tr>
  </thead>

  <tbody>
    {{#each notes}}
    <tr>
      <th scop="row">{{ @index }}</th>
      <td class="title-column">
        <a href="notes/{{ this._id }}">{{ this.title }}</a>
      </td>
      <td class="actions-column">
        <a href="/edit/{{ this._id }}" class="btn btn-primary">Editar</a>
        <form action="/delete" method="POST">
          <input type="hidden" name="id" value="{{ this._id }}" />
          <input type="submit" value="Remover" class="btn btn-danger" />
        </form>
      </td>
    </tr>
    {{ else }}
    <p>Não há notas no sistema ainda, <a href="create">clique aqui para adicionar.</a></p>
    {{/each}}
  </tbody>
</table>